<div style="width: 600px; height: 600px; margin: auto;">
	<table class="table table-striped  table-inverse">
		<thead>
		<tr>
			<th>Chatz</th>
			<th>Userz</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<chat-component *ngFor="let chat of chatService.chats" [chat]="chat"></chat-component>
			</td>
			<td>
				<user-component *ngFor="let user of userService.users" [user]="user"></user-component>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="form-group">
		<input type="text" class="form-control">
		<input type="button" class="btn btn-default pull-right" value="YO!">
	</div>
</div>
